<%= form_with local: true, method: "get" do |form| %>
	First Name:<br>
	<%= form.text_field :first_name %><br>
	Last Name: <br>
	<%= form.text_field :last_name %><br>
	<%= form.submit "Submit" %>
<% end %>
