<% if not @w.nil? %>
	<h1><%= @w[:city] %></h1>
	<p>
		It's <%= @temperature %>°F
		and it looks like <%= @w[:description] %>
	</p>
<% end %>


<%= form_with local: true, method: "get" do |f| %>
   <%= f.text_field :city %>
   <%= f.submit %>
<% end %>

<% @cities.each do |c| %>
<% if not c.nil? %>
	<h1><%= c.name %></h1>
	<p>
		It's <%= c.weather[:temperature] %>°F
		and it looks like <%= c.weather[:description] %>
	</p>
<% end %>
<% end %>
