<h1> Create a New City </h1>

<%= form_with local: true, method: 'post', url: 'create' do |form| %>
  City Name: <%= form.text_field :name %><br>
  Population: <%= form.number_field :population %><br>
  Most Famous Landmark: <%= form.text_field :landmark %><br>
  <%= form.submit %>
<% end %>
