<h1> Update A City </h1>

<%= form_with local: true, method: 'post', url: 'update' do |form| %>
  City Name: <%= form.text_field :name %><br>
  New Population: <%= form.number_field :population %><br>
  New Most Famous Landmark: <%= form.text_field :landmark %><br>
  <%= form.submit %>
<% end %>
