<h1> View Cities </h1>
<% if @cities.count != 0 %>
<a href="/cities/new"> Add a new city</a> <br>
<a href="/cities/update"> Update a city</a> <br>

<% @cities.each do |city| %>
  <h2> <%= city.name %> </h2>
  <p>Population: <%= city.population %><br>
     Most Famous Landmark: <%= city.landmark %></p>
<% end %>
<% else %>
<a href="/cities/new"> No cities exist yet. Create one here! </a>
<% end %>
